/* fonts */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;800&display=swap");

/* general configuration */
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: "Inter";
}

.banner {
  display: flex;
  flex-direction: column;

  height: 100vh;
}
.banner-top,
.banner-bottom {
  height: 50%;
  width: 100%;
}

.banner-top {
  background: #6b46c1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  font-family: "Inter";
}
.content-banner-top {
  height: 50%;
  text-align: center;
  margin-top: 7vh;
}
.content-banner-top h1 {
  color: #f7fafc;
  font-weight: 900;
  font-size: 48px;
}
.content-banner-top p {
  font-size: 22px;
  color: #f7fafc;
  font-weight: 300;
  opacity: 0.7;
}

/* card */
.card-container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60%;
  height: 350px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-shadow: 10px 10px 10px rgb(202, 196, 196);
}
/* card one */

.card-one {
  width: 400px;
  background-color: #f0eafb;
  height: 100%;
  border-radius: 10px;
  display: flex;

  align-items: center;
  justify-content: center;
}
.card-one-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: max-content;
  line-height: 2px;
}

.card-one-content h5 {
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: 700;
}
.card-one-content h1 {
  font-size: 3rem;
  font-size: 60px;
  font-weight: 800;
}
.card-one-content p {
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 400;
}
.card-one-content .btn {
  padding: 25px;
  background-color: #6b46c1;
  color: white;
  width: 200px;
  text-align: center;
  border-radius: 10px;
}
/*  card one ends */
.card-two {
  width: calc(100% - 400px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.card-two p {
  width: 80%;
}

.bullets {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80%;
  justify-content: space-between;
}

/* mobile configuation */
